
// Media Breakpoints
$mbp-s:   600px;
$mbp-m:   900px;
$mbp-l:  1200px;
$mbp-xl: 1800px;

// 'only screen' - required?

@mixin media-xs { // for-phone-only {
  @media only screen
     and (max-width: $mbp-s - 1px) { @content; }
}
@mixin media-s { // for-tablet-portrait-up {
  @media only screen
     and (min-width: $mbp-s)
     and (max-width: $mbp-m - 1px) { @content; }
}
@mixin media-m { // for-tablet-landscape-up {
  @media only screen
     and (min-width: $mbp-m)
     and (max-width: $mbp-l - 1px) { @content; }
}
@mixin media-l { // for-desktop-up {
  @media only screen
     and (min-width: $mbp-l)
     and (max-width: $mbp-xl - 1px) { @content; }
}
@mixin media-xl { // for-big-desktop-up {
  @media only screen
     and (min-width: $mbp-xl) { @content; }
}

/*  Failed experiment
@mixin media-xs { // for-phone-only {
  @media only screen
     and ( max-width: calc(var(--bp_s) - 1px) ) { @content; }
}
@mixin media-s { // for-tablet-portrait-up {
  @media only screen
     and ( min-width: var(--bp_s) )
     and ( max-width: calc(var(--bp_m) - 1px) ) { @content; }
}
@mixin media-m { // for-tablet-landscape-up {
  @media only screen
     and ( min-width: var(--bp_m) )
     and ( max-width: calc(var(--bp_l) - 1px) ) { @content; }
}
@mixin media-l { // for-desktop-up {
  @media only screen
     and ( min-width: var(--bp_l) )
     and ( max-width: calc(var(--bp_xl) - 1px) ) { @content; }
}
@mixin media-xl { // for-big-desktop-up {
  @media only screen
     and ( min-width: var(--bp_xl) ) { @content; }
}
*/

$m: 2px;

.App {
  text-align: center;
  &::before {
    content: "SpacetimeQ Responsive Web Design";
  }
  @include media-xs { &::after { content: "CSS: XS(w<600px)";       } font-size:  5 * $m; background: red;    }
  @include media-s  { &::after { content: "CSS: S(600<=w<900px)";   } font-size:  8 * $m; background: yellow; }
  @include media-m  { &::after { content: "CSS: M(900<=w<1200px)";  } font-size: 10 * $m; background: pink;   }
  @include media-l  { &::after { content: "CSS: L(1200<=w<1800px)"; } font-size: 15 * $m; background: green;  }
  @include media-xl { &::after { content: "CSS: XL(>=1800px)";      } font-size: 20 * $m; background: blue;   }
  //transition: all 2s;
}

svg {
  border: 1px dotted green;
  background: white;
}
