
// https://stackoverflow.com/questions/40515142/how-to-make-a-sticky-footer-in-react
%footer-shared {
  width:   var(--f_w);
  height:  var(--f_h);
  padding: var(--f_p);
}

.footer {
  background: purple;
  font-size: 16px;
  color: white;
  //border-top: 1px solid #E7E7E7;
  writing-mode: var(--f_wm);
  line-height:  var(--f_lh);
  text-align: center;
  vertical-align: middle;  // only works with line-height set to the block height
  white-space: nowrap;
  position: fixed;
  left: 0;
  bottom: 0;
  @extend %footer-shared;
}

.phantom {
  display: block;
  @extend %footer-shared;
}
